[build-system]
requires = ["flit"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "jupyter_kernel_test"
author = "Jupyter Development Team"
author-email = "jupyter@googlegroups.com"
home-page = "https://github.com/jupyter/jupyter_kernel_test"
description-file = "README.rst"
classifiers = [
    "License :: OSI Approved :: BSD License",
    "Intended Audience :: Developers",
    "Programming Language :: Python :: 3",
    "Topic :: Software Development :: Testing"
]
requires-python = ">=3.4"
requires = [
    "jupyter_kernel_mgmt>=0.1.1",
    "jupyter_protocol",
    "jsonschema"
]

